<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ale.aoe2.stratega">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:isGame="true"
        android:theme="@style/AppThemeLightt">
        <activity
            android:name="com.ale.aoe2.stratega.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:icon='@drawable/ic_launcher'
                android:label='AndroidSTR File'
                android:priority='1'>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file"  android:host="*" android:pathPattern=".*\\.str" android:mimeType="*/*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="*.str" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*" android:pathPattern=".*\\.str" />
                <data android:scheme="https" android:host="*" android:pathPattern=".*\\.str" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="message/rfc822" android:scheme="http" />
                <data android:mimeType="multipart/related" android:scheme="http" />
                <data android:mimeType="message/rfc822" android:scheme="https" />
                <data android:mimeType="multipart/related" android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.ale.aoe2.stratega.StepperActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.ale.aoe2.stratega.About"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.ale.aoe2.stratega.Intro"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.ale.aoe2.stratega.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            ></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ee65a01647c3c1cfd264ff64747a0d075b8918a9" />
    </application>

   
</manifest>
